{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
  body {
    background: url('/static/images/home.jpeg') no-repeat center center fixed;
	  background-size: cover;
	  -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-clip: border-box;
  	height: 100%;
  }
</style>
  <div class="container my-4">
    <div class="jumbotron my-2 col-md-8 offset-md-2">
      <h4 class="text-warning m-2">Ready for execise? See random pictures and try to repeat it.</h4>
      <br>   
      <img class="img-fluid" id="execise" src="/static/images/h1.png" alt="execise">
      <hr>
      <div class="input-group-btn">
        <a href="/execise" class="btn btn-outline-warning btn-lg"> Generate <i class="fas fa-running"></i></a>
        <a href="/" class="btn btn-outline-info btn-lg m-2"><i class="fas fa-home"></i></a>
      </div>
    </div>
</div>
{% endblock %}
