{% extends 'base.html' %}
{% block title %}Favorites{% endblock %}
{% block content %}
<style>
  body {
    background: url('/static/images/home1.jpeg') no-repeat center center fixed;
	  background-size: cover;
	  -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-clip: border-box;
  	height: 100%;
  }
</style>
<div class="container">
  {% if g.user.recipes %}
  <div id="recipe-info" class="row justify-content-center align-items-center mt-2">
    {% for r in g.user.recipes %}
    <div class="jumbotron1 col-3 col-6 col-md-4">
      <a href="/recipes/{{r.id}}" data-id="{{r.id}}" class="show-recipe">
        <div class="card border border-warning mb-4 mx-auto">
          <img class="card-img-top" src="{{r['image']}}" alt="Card image cap" alt="{{r.name}}"> 
            <div class="card-body py-0">
              <h5 class="T text-danger font-weight-bold card-title">{{ r['title'] }}</h5> </a>
              <br>
                <div class="p-1 text-light text-right">
                  <p class="card-text">Total Cook Time: {{r.readyInMinutes}} minutes</p>
                  <p class="card-text">Serves: {{r.servings}}</p>
                </div>
                {% if g.user %}
                <div class="d">
                  <button style="float: right;" data-id="{{r.id}}" class='fav btn btn-sm'>
                    <i class="{% if r.id in recipe_ids %}fas fa-heart fa-2x{% else %}far fa-heart fa-2x{% endif %}"></i></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <hr class="my-2 px-6"> 
    <div class="flex"> 
      <a href="/" class="neon btn btn-outline-warning btn-lg m-2"><i class="fas fa-home"></i></a>
    </div>
    {% else %}
    <div class="jumbotron my-4">
      <div class="container">
        <h1 class="display-4 text-danger text-center"> Sorry, you do not have any saved recipes!
          <a href="/" class="neon btn btn-outline-warning btn-lg m-2"><i class="fas fa-home"></i></a>    
        </h1> 
      </div>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
