{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<style>
  body {
    background: url('/static/images/home1.jpeg') no-repeat center center fixed;
	  background-size: cover;
	  -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-clip: border-box;
  	height: 100%;
  }
</style>
<div class="container my-4">
  <div class="jumbotron col-md-8 offset-md-2 justify-content-center">
      <h1 class="join-message text-warning text-center">Update Your Profile</h1>
        <form method="POST" id="user_form">
          {{ form.hidden_tag() }}
          <div class="form-row">
            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
              {{field.label (class_="h4 text-success")}}
              {{field(placeholder=field.label.text, class="form-control form-control-lg") }}
            {% endfor %}
          </div>
          <br>
          <button class="btn btn-lg btn-outline-warning">
            <i class="fas fa-check-circle"></i>
          </button>
          <a href="/users/{{ user_id }}" class="btn btn-lg btn-outline-danger m-2">
            <i class="fas fa-window-close"></i>
          </a>
        </form>
  </div>
</div>
{% endblock %}
