{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container my-4">
  <div class="jumbotron col-md-8 offset-md-2 justify-content-center">
      <h1 class="my-3 text-center text-warning font-italic">Welcome back</h1>
        <form id="login-form" method='POST'>
          {{ form.hidden_tag() }}
          <div class="form-row">
            {% for field in form if field.widget.input_type != "hidden" %}
             <div class="form-group col-md-6">
               {{field.label (class_="text-info h4")}}
               {{field (class_="form-control form-control-lg")}}
               {% for error in field.errors %}
                 <div class="form-text text-danger">{{error}}</div>
               {% endfor %}
             </div>
            {% endfor %}
          </div>
          <div class="m-0">
            <button type="submit" class="btn btn-info btn-lg m-2">
              <i class="fas fa-sign-in-alt"></i>
              <!-- <h5>Login</h5> -->
            </button>
            <a class="btn btn-warning btn-lg m-2" href="/signup">
              <i class="fas fa-user-plus"></i>
              <!-- <h5>Signup</h5> -->
            </a>
            <a href="/" class="btn btn-outline-info btn-lg m-2"><i class="fas fa-home"></i></a>
          </div>
        </form>
    </div>
</div>
{% endblock %}
