{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
<style>
  body {
    background: url('/static/images/home1.jpeg') no-repeat center center fixed;
	  background-size: cover;
	  -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-clip: border-box;
  	height: 100%;
  }
</style>
  <div class="container my-4">
     <div class="T jumbotron my-2 col-md-8 offset-md-2">
        <div class="row">
          <div class="col">
            <h1 class="display-4 text-warning font-weight-bold">{{user.username}}</h1>
            <div class="m-0">
              <form action="/users/{{user.id}}/delete" method="POST" class="d-inline">
                <button class="btn btn-outline-danger btn-lg m-2" type="submit">
                  <i class="fas fa-trash-alt"></i>
                  <!-- <h5 class="text-success">Delete</h5> -->
                </button>
              </form>
              <a class="btn btn-outline-warning btn-lg m-2" href="/users/{{user.id}}/update" role="button">
                <i class="fas fa-edit"></i>
                <!-- <h5 class="text-secondary">Edit</h5> -->
              </a>
              <a href="/" class="btn btn-outline-info btn-lg m-2"><i class="fas fa-home"></i></a>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-7">
            <h4 class="lead text-warning">EMAIL: {{user.email}}</h4>
            <h4 class="lead text-success font-weight-bold">My Notes: 
            <p class="font-italic text-light">{{user.notes}}</p> </h4>
          </div>
          <div id="recipe-info" class="col">
            <h4 class="lead font-weight-bold"><a class="text-success" href="/favorites"> Total Favorites:
              {{user.recipes | length}}</a>
              {% if g.user.recipes %}
              {% for r in g.user.recipes %}
                <div  class="list-group">
                   <p class="text-warning">
                     {% if g.user %}
                   <button style="float: right;" data-id="{{r.id}}" class='fat btn'> <i class="fav fas fa-heart"></i> </button>  
                     {% endif %}
                      {{r['title']}}</p> 
                </div>
              {% endfor %}
              {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
